[submodule "projects/Desafio-Frontend_Developer"]
	path = projects/Desafio-Frontend_Developer
	url = git@github.com:GustavoEsposar/Desafio-Frontend_Developer.git
	branch = main
[submodule "projects/TideWaveBlocker"]
	path = projects/TideWaveBlocker
	url = git@github.com:GustavoEsposar/TideWaveBlocker.git
[submodule "projects/Desafio_ConsultaCEP"]
	path = projects/Desafio_ConsultaCEP
	url = git@github.com:GustavoEsposar/Desafio_ConsultaCEP.git
