/*************    
    CONTENT     
**************/
.content {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
    color: white;
    height: 100%;
}

.content  p {
    font-size: 1.2em;
    margin: 10px 0;
}

.content p > p {
    display: block;
    margin-left: 20px;
}

.content .left-aside, .content .right-aside {
    width: 48%;
    min-height: 500px;
    padding: 20px;
    border-radius: 15px;
    background: linear-gradient(-45deg,
    rgba(13, 36, 42, 1) 0%,
    rgba(27, 93, 101, 1) 20%,
    rgba(20, 118, 143, 1) 40%,
    rgba(63, 152, 170, 1) 60%,
    rgb(94, 149, 163) 80%,
    rgb(145, 188, 197) 100%);
    background-size: 400% 400%;
    animation: backgroundChange 15s ease infinite;
    box-shadow: 0 0 8px aliceblue;
    opacity: 0.8;
    transition: all 0.3s ease, opacity  0.3s ease, width 0.3s ease;
    z-index: 1;
}

.content .left-aside:hover, .content .right-aside:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px aliceblue;
    opacity: 1;
}

.content .left-aside p + p {
    text-indent: 30px;
}

.content .left-aside p:last-of-type {
    text-indent: 0px;
}

.content .left-aside .list {
    /* padding-left: 25px; */
    display: flex;
    justify-content: space-around;
}

.content .left-aside h1 {
    text-align: center;
    font-size: 2em;
}

.content .left-aside ul {
    position: relative;
    left: 5%;
    font-size: 1.2em;
    font-style: italic;
}

.content .left-aside h2 {
    font-size: 1.7em;
}

.content .left-aside h3 {
    font-size: 1.5em;
}

.content .right-aside {
    padding: 30px;
    word-break: break-all;
}

.content .right-aside h1 {
    text-align: center;
    font-size: 2em;
}

.content .right-aside p {
    font-size: 1.2em;
    margin: 10px 0;
}

.content .right-aside a {
    font-style: normal;
    text-decoration: none;
    letter-spacing: 2px;
    color: aliceblue;
    text-shadow: 0 0 5px var(--blur-color);
    font-size: 1.2em;
    font-weight: bold;
    transition: all 200ms ease;
}

.content .right-aside .projectsList li {
    position: relative;
}

.content .right-aside .projectsList li a:hover {
    text-shadow: 0 0 15px white;
}

.content .right-aside .projectsList li a:hover + .previewPic {
    visibility: visible;
    opacity: 1;
}

.content .right-aside .projectsList .previewPic {
    position: absolute;
    height: 100px;
    border-radius: 15px;
    box-shadow: 0 0 10px aliceblue;
    right: 5%;
    z-index: 1;
    visibility:hidden;
    opacity:0;
    transition:visibility linear 200ms, opacity 200ms linear;
}