/*************    
    FOOTER  
**************/
.footer {
    border-top: 1px solid white;
    padding: 30px 0;
}

.footer .iconsList {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.footer .iconsList .icon img {
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 0 20px white;
    transition: 500ms;
    -webkit-transition: 500ms;
}

.footer .iconsList .icon img:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.footer h4 {
    font-size: 1.2em;
    text-align: center;
    padding: 20px 0 0;
    color: aliceblue;
    text-shadow: 0 0 5px var(--blur-color);
}