/*************
    NAVBAR     
**************/
.nav {
    padding: 10px;
    border-bottom: 1px solid white;
}

.nav .sub-container {
    margin: 0 auto;
    width: 25%;
}

.nav .listLinks {
    display: flex;
    justify-content: space-between;
}

.nav .listLinks li {
    list-style: none;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    transition: all 400ms ease;
}

.nav .listLinks li:hover {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 15px var(--blur-color);
}

.nav .listLinks li a {
    text-decoration: none;
    letter-spacing: 2px;
    color: aliceblue;
    text-shadow: 0 0 5px var(--blur-color);
    font-size: 1.2em;
    font-weight: bold;
}