/**************************************
    Responsiveness to width changes    
***************************************/
@media screen and (max-width:1401px) {
    .nav .sub-container {
        width: 35%;
    }

    .content .left-aside {
        width: 48%;
    }
    
    .content .right-aside {
        width: 48%;
    }
}

@media screen and (max-width:1216px) {
    .container {
        width: 90vw;
    }

    .header .listElements .name h1 {
        font-size: 3.1em;
        letter-spacing: 2px;
    }
}

@media screen and (max-width:975px) {
    .container {
        width: 80vw;
    }

    .nav .sub-container {
        width: 45%;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    .content .left-aside {
        width: 100%;
    }

    .content .right-aside {
        margin-top: 40px;
        width: 100%;
    }

    .content .left-aside:hover, .content .right-aside:hover {
        width: 100%;
    }
    
    .video {
        border-radius: 3%;
    }
}

@media screen and (max-width:800px) {
    .nav .sub-container {
        width: 55%;
    }

    .header .listElements .name h1 {
        font-size: 2.65em;
        letter-spacing: 2px;
    }
}

@media screen and (max-width:674px) {
    .container {
        width: 90vw;
    }

    .header {
        padding-bottom: 40px;
    }

    .header .listElements {
        height: 520px;
    }

    .nav .sub-container {
        width: 95%;
    }

    .header .listElements {
        flex-direction: column;
        justify-content: space-between;
    }

    .content {
        padding-left: 0;
        padding-right: 0;
    }

    .content .left-aside {
        min-height: auto;
    }

    .content .right-aside {
        width: 100%;
    }

    .content .left-aside:hover, .content .right-aside:hover {
        transform: none;
        box-shadow: 0 0 20px aliceblue;
        opacity: 1;
    }

    .content .left-aside {
        background: linear-gradient(-45deg,
        rgba(27, 93, 101, 1),
        rgba(20, 118, 143, 1),
        rgba(63, 152, 170, 1));
        animation: none;
    }

    .content .left-aside .projectsList li .previewPic{
        position: relative;
        display: none;
    }

    .content .right-aside .projectsList .previewPic {
        display: none;
        position: relative;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
        height: 100px;
        border-radius: 15px;
        box-shadow: 0 0 10px aliceblue;
        z-index: 1;
        transition: opacity 200ms linear;
    }
    
    .content .right-aside .projectsList li a:hover + .previewPic {
        display: block;
    }

    .footer .iconsList {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer .iconsList .icon img {
        width: 70px;
    }
}

@media (min-width: 200px) and (max-width: 975px) {
    @media (orientation: landscape) {
        .background-video {
            position: fixed;
            height: 100vh;
            width: auto;
            min-height: var(--original-viewport-height);
            left: 0%;
            top: 0;
            will-change: transform;
            z-index: -1;
            transform: translate(0, 0);
        }
        .content .left-aside {
            background: linear-gradient(-45deg,
            rgba(27, 93, 101, 1),
            rgba(20, 118, 143, 1),
            rgba(63, 152, 170, 1));
            animation: none;
        }
    }

    @media (orientation: portrait) {
        .background-video {
            position: fixed;
            height: 100vh;
            width: auto;
            min-height: var(--original-viewport-height);
            left: -50%;
            top: 0;
            will-change: transform;
            z-index: -1;
            transform: translate(0, 0);
        }
    }
}